* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'AsapSemiBold';
    src: url(fonts/Asap_Condensed-SemiBold.ttf);
}

@font-face {
    font-family: 'LibreSemiBold';
    src: url(fonts/LibreFranklin-SemiBold.ttf);
}

@font-face {
    font-family: 'WorkMedium';
    src: url(fonts/WorkSans-Medium.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    transform: translate(-50%, -50%);
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #24205d84;
    z-index: -1;
}

#barraProgresso {
    width: 90%;
    max-width: 400px;
    height: 20px;
    background-color: #c7c7c7;
    margin: 50px auto 20px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px rgb(255, 255, 255);
}

#progresso {
    height: 100%;
    width: 0;
    background-color: #24205d;
    border-radius: 10px;
    transition: width 1s linear;
}

#carregando {
    color: white;
    font-family: 'WorkMedium';
    font-size: 18px;
}

.tudo {
    text-align: center;
    padding: 0 20px;
    max-width: 100%;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: 'LibreSemiBold';
    font-size: 4vw;
    /* Ajuste para desktop */
    letter-spacing: 7px;
    margin-bottom: 40px;
}

p {
    color: white;
    font-family: 'WorkMedium';
    font-size: 1.5vw;
    /* Ajuste para desktop */
    max-width: 100%;
}

.tempo {
    display: flex;
    justify-content: center;
    /* Centraliza os quadradinhos */
    flex-wrap: wrap;
    /* Permite a quebra de linha em telas menores */
}

.quadradinho {
    display: flex;
    flex-direction: column;
    background-color: #24205d;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 10px;
    font-family: 'WorkMedium';
    font-size: 1.5vw;
    border: 2px solid rgb(223, 223, 223);
    margin: 10px;
    width: 150px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    width: 130px;
}

.div-texto {
    margin-top: 100px;
}


@media screen and (max-width: 720px) {
    .tudo {
        margin: 0 20px;
    }

    h1 {
        font-size: 5vw;
    }

    .quadradinho {
        padding: 10px 15px;
        font-size: 4vw;
    }

    p {
        font-size: 4vw;
    }

    #barraProgresso {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    img{
        margin-top: 20px;
    }
    .tudo {
        margin-top: 100px; /* Ajuste baseado na necessidade */
    }

    .tempo {
        flex-direction: column;
        align-items: center;
    }

    .quadradinho {
        margin: 10px 0;
        font-size: 5vw;
    }

    video, .dark-overlay {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    body{
        background-color: #24205dc7;
    }

    .div-texto{
        margin: 35px 0;
    }

}